agm-map {
  height: 70vh;
}

.map-modal-content {
  margin: 0 auto;
  padding: 5px;
}

.modal-title {
  text-align: center;
}

h2 {
  font-size: 1rem;
}

.map-filter-container {
  padding: 15px 20px 0 15px;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
}
