<div class="modal">
  <div class="modal-content">
    <!--=========== Modal Actions ============-->
    <span class="close"
          (click)="handleCloseModalClick()">x</span>
    <div class="modal-title">
      <h2>Active Rides<br>{{ activeDate ? (activeDate | date:'mediumDate') : (this.startDate | date:'MMM d') + ' - ' + (this.endDate | date:'MMM d') }}</h2>
    </div>
    <mat-card class="candy-card">
      <!--========== Map =========-->
      <agm-map [latitude]="mapCenter.latitude"
               [longitude]="mapCenter.longitude"
               [fitBounds]="true"
               [zoom]="mapCenter.zoom">
        <!--====== Map Markers for driveTo ========-->
        <ng-container *ngFor="let r of rides">
          <agm-marker *ngIf="r.driveTo && displayRides[r.driveTo.statusId]"
                      iconUrl="assets/img/marker_pickup.png"
                      [latitude]="r.driveTo.startLatitude"
                      [longitude]="r.driveTo.startLongitude"
                      (markerClick)="showPolylinesForMarker(r)"
                      [agmFitBounds]="true"
                      [animation]="'DROP'">
            <agm-snazzy-info-window [closeWhenOthersOpen]="true"
                                    [maxHeight]="250"
                                    (afterClose)="hidePolylinesForMarker(r)">
              <ng-template>
                Start address:
                <address>
                  <a *ngIf="r.driveTo.startAddress; else vagueLocationPickup"
                     [href]="getGoogleMapLink(r, 'driveTo', 'start')"
                     target="_blank">{{ r.driveTo.startAddress }}</a>
                </address>
                <ng-template #vagueLocationPickup>
                  {{ r.appointment.pickupLocationVague }}
                </ng-template>
                <br>
                End Address:
                <address>
                  <a [href]="getGoogleMapLink(r, 'driveTo', 'end')"
                     target="_blank">{{ r.driveTo.endAddress }}</a>
                </address>
                <br>
                <button type="button"
                        mat-raised-button
                        (click)="handleCloseModalClick();
                                 handleSeeDriveDetailsClick(r, 'driveTo')"
                        color="primary">See Drive Details</button>
              </ng-template>
            </agm-snazzy-info-window>
          </agm-marker>
          <agm-polyline *ngIf="r.driveTo && displayRides[r.driveTo.statusId]"
                        strokeWeight="2"
                        strokeColor="#00f"
                        [visible]="r.showPolylines || false">
            <agm-polyline-point [latitude]="r.driveTo?.startLatitude"
                                [longitude]="r.driveTo?.startLongitude">
            </agm-polyline-point>
            <agm-polyline-point [latitude]="r.driveTo?.endLatitude"
                                [longitude]="r.driveTo?.endLongitude">
            </agm-polyline-point>
          </agm-polyline>
        </ng-container>
        <!--====== Map Markers for driveFrom ========-->
        <ng-container *ngFor="let r of rides">
          <agm-marker *ngIf="r.driveFrom && displayRides[r.driveFrom.statusId]"
                      iconUrl="assets/img/marker_dropoff.png"
                      [latitude]="r.driveFrom.endLatitude"
                      [longitude]="r.driveFrom.endLongitude"
                      (markerClick)="showPolylinesForMarker(r)"
                      [agmFitBounds]="true"
                      [animation]="'DROP'">
            <agm-snazzy-info-window [closeWhenOthersOpen]="true"
                                    [maxHeight]="250"
                                    (afterClose)="hidePolylinesForMarker(r)">
              <ng-template>
                Start Address:
                <address>
                  <a [href]="getGoogleMapLink(r, 'driveFrom', 'start')"
                     target="_blank">{{ r.driveFrom.startAddress }}</a>
                </address>
                <br>
                End Address:
                <address>
                  <a *ngIf="r.driveFrom.endAddress; else vagueLocationDropoff"
                     [href]="getGoogleMapLink(r, 'driveFrom', 'end')"
                     target="_blank">{{ r.driveFrom.endAddress }}</a>
                </address>
                <ng-template #vagueLocationDropoff>
                  {{ r.appointment.dropoffLocationVague }}
                </ng-template>
                <br>
                <button type="button"
                        mat-raised-button
                        (click)="handleCloseModalClick();
                                 handleSeeDriveDetailsClick(r, 'driveFrom')"
                        color="primary">See Drive Details</button>
              </ng-template>
            </agm-snazzy-info-window>
          </agm-marker>
          <agm-polyline *ngIf="r.driveFrom && displayRides[r.driveFrom.statusId]"
                        strokeWeight="2"
                        strokeColor="#00f"
                        [visible]="r.showPolylines || false">
            <agm-polyline-point [latitude]="r.driveFrom?.startLatitude"
                                [longitude]="r.driveFrom?.startLongitude">
            </agm-polyline-point>
            <agm-polyline-point [latitude]="r.driveFrom?.endLatitude"
                                [longitude]="r.driveFrom?.endLongitude">
            </agm-polyline-point>
          </agm-polyline>
        </ng-container>
        <!--====== Map Markers for Service Providers ========-->
        <agm-marker *ngFor="let s of serviceProviders"
                    [iconUrl]="s.iconUrl"
                    [latitude]="s.latitude"
                    [longitude]="s.longitude"
                    [agmFitBounds]="true"
                    [animation]="'DROP'">
          <agm-snazzy-info-window [closeWhenOthersOpen]="true"
                                  [maxHeight]="250">
            <ng-template>
              <strong>{{ s.name }}</strong>
              <br/>
              <address>
                <a [href]="getServiceProviderGoogleMapLink(s)"
                   target="_blank">{{ s.address }}</a>
              </address>
            </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
      </agm-map>
    </mat-card>
    <div *ngIf="userRole === '1'" class="map-filter-container">
      <mat-slide-toggle value="approved"
                        [checked]="displayRides[2]"
                        (change)="displayRides[2] = $event.source.checked"
                        color="primary">Show Approved Drives</mat-slide-toggle>
      <br><br>
      <mat-slide-toggle value="cancelled"
                        [checked]="displayRides[3]"
                        (change)="displayRides[3] = $event.source.checked"
                        color="primary">Show Cancelled Drives</mat-slide-toggle>
    </div>
  </div>
</div>
