agm-map {
  height: 70vh;
}

.map-modal-content {
  margin: 0 auto;
  padding: 5px;
}

.modal-title {
  text-align: center;
}

h2 {
  font-size: 1rem;
}

.map-filter-container {
  padding-top: 10px;
}
