agm-map {
  height: 80vh;
}

.map-modal-content {
  // background-color: #e9eaf4;
  margin: 0 auto;
  padding: 5px;
  // border: 1px solid #888;
}

.modal-title {
  text-align: center;
}

h2 {
  font-size: 1rem;
}
