<div class="modal">
  <div class="modal-content">
    <!--=========== Modal Actions ============-->
      <span class="close"
            (click)="handleCloseModalClick()">x</span>
      <div class="modal-title">
        <h2>Active Rides<br>{{ activeDate ? (activeDate | date:'mediumDate') : (this.startDate | date:'MMM d') + ' - ' + (this.endDate | date:'MMM d') }}</h2>
    </div>
    <mat-card class="candy-card">
      <!--========== Map =========-->
      <agm-map [latitude]="mapCenter.latitude"
               [longitude]="mapCenter.longitude"
               [zoom]="mapCenter.zoom">
        <!--====== Map Markers for driveTo ========-->
        <ng-container *ngFor="let r of rides">
          <agm-marker *ngIf="r.driveTo && r.driveTo.statusId !== 3"
                      iconUrl="assets/img/marker_pickup.png"
                      [latitude]="r.driveTo.startLatitude"
                      [longitude]="r.driveTo.startLongitude"
                      (markerClick)="showPolylinesForMarker(r)"
                      [animation]="'DROP'">
            <agm-snazzy-info-window [closeWhenOthersOpen]="true"
                                    (afterClose)="hidePolylinesForMarker(r)">
              <ng-template>
                Start address:
                <address>
                  <a *ngIf="r.driveTo.startAddress; else vagueLocationPickup"
                     [href]="getGoogleMapLink(r, 'driveTo', 'start')"
                     target="_blank">{{ r.driveTo.startAddress }}</a>
                </address>
                <ng-template #vagueLocationPickup>
                  {{ r.appointment.pickupLocationVague }}
                </ng-template>
                <br>
                End Address:
                <address>
                  <a [href]="getGoogleMapLink(r, 'driveTo', 'end')"
                     target="_blank">{{ r.driveTo.endAddress }}</a>
                </address>
                <br>
                <button type="button"
                        mat-raised-button
                        (click)="handleCloseModalClick();
                                 handleSeeDriveDetailsClick(r, 'driveTo')"
                        color="primary">See Drive Details</button>
              </ng-template>
            </agm-snazzy-info-window>
          </agm-marker>
          <agm-polyline strokeWeight="2"
                        strokeColor="#00f"
                        [visible]="r.showPolylines || false">
            <agm-polyline-point [latitude]="r.driveTo?.startLatitude"
                                [longitude]="r.driveTo?.startLongitude">
            </agm-polyline-point>
            <agm-polyline-point [latitude]="r.driveTo?.endLatitude"
                                [longitude]="r.driveTo?.endLongitude">
            </agm-polyline-point>
          </agm-polyline>
        </ng-container>
        <!--====== Map Markers for driveFrom ========-->
        <ng-container *ngFor="let r of rides">
          <agm-marker *ngIf="r.driveFrom && r.driveFrom.statusId !== 3"
                      iconUrl="assets/img/marker_dropoff.png"
                      [latitude]="r.driveFrom.endLatitude"
                      [longitude]="r.driveFrom.endLongitude"
                      (markerClick)="showPolylinesForMarker(r)"
                      [animation]="'DROP'">
            <agm-snazzy-info-window [closeWhenOthersOpen]="true"
                                    (afterClose)="hidePolylinesForMarker(r)">
              <ng-template>
                Start Address:
                <address>
                  <a [href]="getGoogleMapLink(r, 'driveFrom', 'start')"
                     target="_blank">{{ r.driveFrom.startAddress }}</a>
                </address>
                <br>
                End Address:
                <address>
                  <a *ngIf="r.driveFrom.endAddress; else vagueLocationDropoff"
                     [href]="getGoogleMapLink(r, 'driveFrom', 'end')"
                     target="_blank">{{ r.driveFrom.endAddress }}</a>
                </address>
                <ng-template #vagueLocationDropoff>
                  {{ r.appointment.dropoffLocationVague }}
                </ng-template>
                <br>
                <button type="button"
                        mat-raised-button
                        (click)="handleCloseModalClick();
                                 handleSeeDriveDetailsClick(r, 'driveFrom')"
                        color="primary">See Drive Details</button>
              </ng-template>
            </agm-snazzy-info-window>
          </agm-marker>
          <agm-polyline strokeWeight="2"
                        strokeColor="#00f"
                        [visible]="r.showPolylines || false">
            <agm-polyline-point [latitude]="r.driveFrom?.startLatitude"
                                [longitude]="r.driveFrom?.startLongitude">
            </agm-polyline-point>
            <agm-polyline-point [latitude]="r.driveFrom?.endLatitude"
                                [longitude]="r.driveFrom?.endLongitude">
            </agm-polyline-point>
          </agm-polyline>
        </ng-container>
        <!--====== Map Markers for Clinics ========-->
        <agm-marker *ngFor="let c of clinics"
                    iconUrl="assets/img/marker_clinic.png"
                    [latitude]="c.latitude"
                    [longitude]="c.longitude"
                    [animation]="'DROP'">
          <agm-snazzy-info-window [closeWhenOthersOpen]="true">
            <ng-template>
              <strong>{{ c.name }}</strong>
              <br/>
              <address>
                <a [href]="getClinicGoogleMapLink(c)"
                   target="_blank">{{ c.address }}</a>
              </address>
            </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
      </agm-map>
    </mat-card>
  </div>
</div>
