@model CASNApp.Admin.Models.CallerLookupViewModel

@{
    ViewData["Title"] = "Caller Lookup";
}

<h4>Caller Lookup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CallerLookup">
            <div class="form-group">
                <label class="control-label">Add or look up caller information</label>
                <input asp-for="CallerIdentifier" class="form-control" placeholder="1234" />
                <span asp-validation-for="CallerIdentifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

