@model CASNApp.Core.Entities.Caller

@{
    ViewData["Title"] = "Create a Caller";
}

<h1>Create</h1>

<h4>Caller</h4>
<div>
    <a asp-action="Index">Back</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CallerCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CallerIdentifier" class="control-label">Caller Identifier</label>
                <input asp-for="CallerIdentifier" class="form-control" autofocus />
                <span asp-validation-for="CallerIdentifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsMinor" /> Caller is a minor
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label">Date of Birth</label>
                <input asp-for="DateOfBirth" class="form-control" type="date" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResidenceState" class="control-label">Residence State</label>
                <input asp-for="ResidenceState" class="form-control" maxlength="2" list="stateOptions" />
                <datalist id="stateOptions">
                    <option value="TX" />
                    <option value="LA" />
                    <option value="AR" />
                    <option value="OK" />
                </datalist>
                <span asp-validation-for="ResidenceState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResidencePostalCode" class="control-label">Residence Postal Code</label>
                <input asp-for="ResidencePostalCode" class="form-control" />
                <span asp-validation-for="ResidencePostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferredLanguage" class="control-label"></label>
                <input asp-for="PreferredLanguage" class="form-control" list="languageOptions" autocomplete="off" />
                <datalist id="languageOptions">
                    <option value="English" />
                    <option value="Spanish" />
                    <option value="Mandarin" />
                    <option value="Vietnamese" />
                </datalist>
                <span asp-validation-for="PreferredLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferredContactMethod" class="control-label">Preferred Contact Method</label>
                <select asp-for="PreferredContactMethod" class="form-control">
                    <option selected value="1">Text</option>
                    <option value="2">Call</option>
                </select>
                <span asp-validation-for="PreferredContactMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferralSourceId" class="control-label">Referral Source</label>
                <select asp-for="ReferralSourceId" class="form-control" asp-items="ViewBag.ReferralSourceId">
                    <option selected value=""></option>
                </select>
                <span asp-validation-for="ReferralSourceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstContactDate" class="control-label">First Contact Date</label>
                <input asp-for="FirstContactDate" class="form-control" type="date" />
                <span asp-validation-for="FirstContactDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseholdSize" class="control-label">Household Size</label>
                <input asp-for="HouseholdSize" class="form-control" type="number" />
                <span asp-validation-for="HouseholdSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseholdIncome" class="control-label">Household Income</label>
                <input asp-for="HouseholdIncome" class="form-control" type="number" />
                <span asp-validation-for="HouseholdIncome" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HousingUnstable" /> Housing is unstable
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}