@model CASNApp.Core.Entities.FundingOfferItem

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FundingOfferItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="FundingOfferId" type="hidden" value="@ViewBag.FundingOfferId" />
            <div class="form-group">
                <label asp-for="FundingSourceId" class="control-label">Funding Source</label>
                <select asp-for="FundingSourceId" class="form-control" asp-items="ViewBag.FundingSourceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FundingTypeId" class="control-label">Funding Type</label>
                <select asp-for="FundingTypeId" class="form-control" asp-items="ViewBag.FundingTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NeedAmount" class="control-label">Need Amount</label>
                <input asp-for="NeedAmount" class="form-control" />
                <span asp-validation-for="NeedAmount" class="text-danger"></span>
                <select asp-for="NeedAmountNullReasonId" class="form-control" asp-items="ViewBag.NeedAmountNullReasonId">
                    <option selected value="">-</option>
                </select>
                <span asp-validation-for="NeedAmountNullReasonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FundingAmount" class="control-label">Funding Amount</label>
                <input asp-for="FundingAmount" class="form-control" />
                <span asp-validation-for="FundingAmount" class="text-danger"></span>
                <select asp-for="FundingAmountNullReasonId" class="form-control" asp-items="ViewBag.FundingAmountNullReasonId">
                    <option selected value="">-</option>
                </select>
                <span asp-validation-for="FundingAmountNullReasonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethodId" class="control-label">Payment Method</label>
                <select asp-for="PaymentMethodId" class="form-control" asp-items="ViewBag.PaymentMethodId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@ViewBag.FundingOfferId">Back to List</a>
</div>

