@model CASNApp.Core.Entities.FundingOffer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FundingOffer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CallerId" class="control-label"></label>
                <select asp-for="CallerId" class="form-control" asp-items="ViewBag.CallerId"></select>
                <span asp-validation-for="CallerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FundingOfferStatusId" class="control-label"></label>
                <select asp-for="FundingOfferStatusId" class="form-control" asp-items="ViewBag.FundingOfferStatusId"></select>
                <span asp-validation-for="FundingOfferStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClinicId" class="control-label"></label>
                <select asp-for="ClinicId" class="form-control" asp-items="ViewBag.ClinicId"></select>
                <span asp-validation-for="ClinicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedById" class="control-label"></label>
                <select asp-for="CreatedById" class="form-control" asp-items="ViewBag.CreatedById"></select>
                <span asp-validation-for="CreatedById" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issued" class="control-label"></label>
                <input asp-for="Issued" class="form-control" />
                <span asp-validation-for="Issued" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Redeemed" class="control-label"></label>
                <input asp-for="Redeemed" class="form-control" />
                <span asp-validation-for="Redeemed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paid" class="control-label"></label>
                <input asp-for="Paid" class="form-control" />
                <span asp-validation-for="Paid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updated" class="control-label"></label>
                <input asp-for="Updated" class="form-control" />
                <span asp-validation-for="Updated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

