@model CASNApp.Core.Entities.FundingOfferItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FundingOfferItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @*<div class="form-group">
                <label asp-for="FundingOfferId" class="control-label"></label>
                <select asp-for="FundingOfferId" class="form-control" asp-items="ViewBag.FundingOfferId"></select>
                <span asp-validation-for="FundingOfferId" class="text-danger"></span>
            </div>*@
            <input type="hidden" asp-for="FundingOfferId" />
            <div class="form-group">
                <label asp-for="FundingSourceId" class="control-label">Funding Source</label>
                <select asp-for="FundingSourceId" class="form-control" asp-items="ViewBag.FundingSourceId"></select>
                <span asp-validation-for="FundingSourceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FundingTypeId" class="control-label">Funding Type</label>
                <select asp-for="FundingTypeId" class="form-control" asp-items="ViewBag.FundingTypeId"></select>
                <span asp-validation-for="FundingTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NeedAmount" class="control-label">Need Amount</label>
                <input asp-for="NeedAmount" class="form-control" />
                <span asp-validation-for="NeedAmount" class="text-danger"></span>
            @*</div>
            <div class="form-group">*@
                @*<label asp-for="NeedAmountNullReasonId" class="control-label"></label>*@
                <select asp-for="NeedAmountNullReasonId" class="form-control" asp-items="ViewBag.NeedAmountNullReasonId">
                    <option selected value="">N/A</option>
                </select>
                <span asp-validation-for="NeedAmountNullReasonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FundingAmount" class="control-label">Funding Amount</label>
                <input asp-for="FundingAmount" class="form-control" />
                <span asp-validation-for="FundingAmount" class="text-danger"></span>
            @*</div>
            <div class="form-group">*@
                @*<label asp-for="FundingAmountNullReasonId" class="control-label"></label>*@
                <select asp-for="FundingAmountNullReasonId" class="form-control" asp-items="ViewBag.FundingAmountNullReasonId">
                    <option selected value="">N/A</option>
                </select>
                <span asp-validation-for="FundingAmountNullReasonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethodId" class="control-label">Payment Method</label>
                <select asp-for="PaymentMethodId" class="form-control" asp-items="ViewBag.PaymentMethodId"></select>
                <span asp-validation-for="PaymentMethodId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> Is Active
                </label>
            </div>
            @*<div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updated" class="control-label"></label>
                <input asp-for="Updated" class="form-control" />
                <span asp-validation-for="Updated" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.FundingOfferId">Back to List</a>
</div>

