<main>
  <h2>Message Volunteers</h2>
  <mat-card>
    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <textarea matInput
                maxlength="160"
                [(ngModel)]="message"
                aria-label="Message"
                placeholder="Please add your message content here."></textarea>
      <mat-hint align="end">{{ message.length }} / 160</mat-hint>
    </mat-form-field>
    <br>
    <h3>Send To:</h3>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput
             (keyup)="applyFilter($event.target.value)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </table>
    </div>
    <br>
    <mat-card-actions>
      <button mat-raised-button
              [disabled]="!message || selection.selected.length < 1"
              class="btn-cta"
              (click)="showConfirmationModal = true"
              color="primary">Send Message</button>
    </mat-card-actions>
  </mat-card>
</main>
<!--********************************************************************
                            Confirmation Modal
**********************************************************************-->
<div *ngIf="showConfirmationModal" class="modal">
  <div class="modal-content">
    <span class="close"
          (click)="showConfirmationModal = false">x</span>
    <div class="modal-title">
      <h2>Please Confirm</h2>
    </div>
    <mat-card class="mt candy-card">
      <mat-card-subtitle>Message:</mat-card-subtitle>
      <p>{{ message }}</p>
    </mat-card>
    <mat-card class="mt candy-card">
      <mat-card-subtitle>Send To {{ selection.selected.length }} People:</mat-card-subtitle>
      <ul>
        <li *ngFor="let s of selection.selected">{{ s.name }}</li>
      </ul>
    </mat-card>
    <div class="modal-actions">
      <button type="button"
              class="btn-cta"
              mat-raised-button
              (click)="sendMessage()"
              color="primary">Send Message</button>
      <button type="button"
              mat-button
              (click)="showConfirmationModal = false"
              color="accent">Go Back</button>
    </div>
  </div>
</div>
