<main *ngIf="appointmentTypes && serviceProviders">
  <mat-horizontal-stepper mat-horizontal-stepper #stepper class="candy-stepper" (selectionChange)="onStepperChange($event)">
<!--********************************************************************
                                STEP 1
                            Appointment Form
**********************************************************************-->
    <mat-step [stepControl]="appointmentForm">
      <form [formGroup]="appointmentForm">
        <ng-template matStepLabel>Appointment</ng-template>
        <h1>{{ title }}</h1>
        <div class="appt-form-group">
          <app-pill [value]="formAppt.callerIdentifier.value"
                    label="Caller ID">
          </app-pill>
          <mat-form-field class="example-full-width hide"
                          appearance="standard"
                          disabled>
            <mat-label>Caller ID</mat-label>
            <input type="text"
                   placeholder="1234"
                   aria-label="Caller Identifier"
                   matInput
                   formControlName="callerIdentifier">
            <mat-error *ngIf="formAppt.callerIdentifier.errors?.required">This field is required.</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width hide" appearance="standard">
            <mat-label>Dispatcher ID</mat-label>
            <input type="number"
                   placeholder="4321"
                   aria-label="Dispatcher Identifier"
                   matInput
                   formControlName="dispatcherId">
            <mat-error *ngIf="formAppt.dispatcherId.errors?.required">This field is required.</mat-error>
          </mat-form-field>
        </div>
        <div class="appt-form-group">
          <mat-form-field appearance="standard">
            <mat-label>Appointment Type</mat-label>
            <mat-select placeholder="Appt Type"
                        aria-label="Appointment Type"
                        formControlName="appointmentTypeId">
              <mat-option *ngFor="let a of appointmentTypes" [value]="a.value">
                {{ a.displayValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formAppt.appointmentTypeId.errors?.required">This field is required.</mat-error>
          </mat-form-field>
          <!--********* Conditionally display clinics vs. courthouses vs. hotels based on appt type *****************-->
          <!-- Clinics Only -->
          <mat-form-field appearance="standard" *ngIf="![7, 9, 11].includes(formAppt.appointmentTypeId.value)">
            <mat-label>Service Provider</mat-label>
            <mat-select placeholder="Service Provider"
                        aria-label="Service Provider"
                        formControlName="serviceProviderId">
              <mat-option *ngFor="let s of clinicServiceProviders" [value]="s.id">
                {{ s.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formAppt.serviceProviderId.errors?.required">This field is required.</mat-error>
          </mat-form-field>
          <!-- Courthouses Only -->
          <mat-form-field appearance="standard" *ngIf="formAppt.appointmentTypeId.value === 7">
            <mat-label>Service Provider</mat-label>
            <mat-select placeholder="Service Provider"
                        aria-label="Service Provider"
                        formControlName="serviceProviderId">
              <mat-option *ngFor="let s of courthouseServiceProviders" [value]="s.id">
                {{ s.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formAppt.serviceProviderId.errors?.required">This field is required.</mat-error>
          </mat-form-field>
          <!-- Lodging Only -->
          <mat-form-field appearance="standard" *ngIf="formAppt.appointmentTypeId.value === 9">
            <mat-label>Service Provider</mat-label>
            <mat-select placeholder="Service Provider"
                        aria-label="Service Provider"
                        formControlName="serviceProviderId">
              <mat-option *ngFor="let s of lodgingServiceProviders" [value]="s.id">
                {{ s.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formAppt.serviceProviderId.errors?.required">This field is required.</mat-error>
          </mat-form-field>
          <!-- Flight Only -->
          <mat-form-field appearance="standard" *ngIf="formAppt.appointmentTypeId.value === 11">
            <mat-label>Service Provider</mat-label>
            <mat-select placeholder="Service Provider"
                        aria-label="Service Provider"
                        formControlName="serviceProviderId">
              <mat-option *ngFor="let s of flightServiceProviders" [value]="s.id">
                {{ s.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formAppt.serviceProviderId.errors?.required">This field is required.</mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Appointment Time</mat-label>
            <input [owlDateTimeTrigger]="dt5"
                   [owlDateTime]="dt5"
                   matInput
                   placeholder="Choose a date"
                   formControlName="appointmentDate">
            <owl-date-time [pickerMode]="'dialog'"
                           [hour12Timer]="true"
                           #dt5></owl-date-time>
          </mat-form-field>
          <div class="form-actions">
            <!-- Placeholder to ensure flex spacing bumps next button to the right -->
            <div></div>
            <button class="next-btn"
                    mat-mini-fab
                    color="primary"
                    type="button"
                    [disabled]="!this.appointmentForm.valid"
                    matStepperNext><mat-icon>keyboard_arrow_right</mat-icon></button>
          </div>
        </div>
      </form>
    </mat-step>
<!--********************************************************************
                                STEP 2
                          Drive To/Pickup Form
**********************************************************************-->
    <mat-step [stepControl]="driveToForm">
      <h1>{{ title }}</h1>
      <h2 class="text-light">Drive To</h2>
      <form [formGroup]="driveToForm">
        <ng-template matStepLabel>Drive To</ng-template>
        <div class="appt-form-group" *ngIf="askIfCallerNeedsPickup">
          <p class="text-heavy">Does the caller need a drive TO {{ apptServiceProvider }}?</p>
          <!-- If the caller doesn't need a pickup drive, then they must
          have a dropoff drive -->
          <div class="btn-group">
            <button mat-raised-button
                    class="btn-cta primary-outline flex"
                    color="accent"
                    type="button"
                    (click)="callerNeedsPickup = false;
                             askIfCallerNeedsPickup = false;
                             callerNeedsDropoff = true;
                             askIfCallerNeedsDropoff = false"
                    matStepperNext>No</button>
            <button mat-raised-button
                    class="btn-cta flex"
                    color="primary"
                    type="button"
                    (click)="callerNeedsPickup = true;
                             askIfCallerNeedsPickup = false;">Yes</button>
          </div>
        </div>
        <div class="appt-form-group" *ngIf="!askIfCallerNeedsPickup && callerNeedsPickup">
          <h3>Pick-Up Address</h3>
          <mat-form-field appearance="standard">
            <mat-label>Street Address</mat-label>
            <input matInput
                   type="text"
                   formControlName="pickupAddress"
                   aria-label="Street Address"
                   placeholder="345 Main St, Apt F">
            <mat-error *ngIf="formPickup.pickupAddress.errors?.required">This field is required.</mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>City</mat-label>
            <input matInput
                   type="text"
                   formControlName="pickupCity"
                   aria-label="Pickup City"
                   placeholder="Cypress">
            <mat-error *ngIf="formPickup.pickupCity.errors?.required">This field is required.</mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>State</mat-label>
            <input matInput
                   type="text"
                   formControlName="pickupState"
                   aria-label="Pickup State"
                   placeholder="TX">
            <mat-error *ngIf="formPickup.pickupState.errors?.required">This field is required.</mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Zip Code</mat-label>
            <input matInput
                   type="text"
                   formControlName="pickupPostalCode"
                   aria-label="Pickup Zip Code"
                   placeholder="77777">
            <mat-error *ngIf="formPickup.pickupPostalCode.errors?.required">This field is required.</mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Vague Pickup Location</mat-label>
            <input matInput
                   type="text"
                   formControlName="pickupLocationVague"
                   aria-label="Vague Pickup Location"
                   placeholder="23rd and Main St.">
            <mat-error *ngIf="formPickup.pickupLocationVague.errors?.required">This field is required.</mat-error>
          </mat-form-field>
          <div class="form-actions">
            <button class="back-btn btn-cta secondary"
                    mat-raised-button
                    color="accent"
                    type="button"
                    (click)="askIfCallerNeedsPickup = true"
                    matStepperPrevious>Back</button>
            <button class="next-btn"
                    mat-mini-fab
                    color="primary"
                    type="button"
                    [disabled]="!this.driveToForm.valid"
                    matStepperNext><mat-icon>keyboard_arrow_right</mat-icon></button>
          </div>
        </div>
      </form>
    </mat-step>
<!--********************************************************************
                                STEP 3
                        Drive From/Dropoff Form
**********************************************************************-->
    <mat-step [stepControl]="driveFromForm">
      <h1>{{ title }}</h1>
      <h2 class="text-light">Drive From</h2>
      <form [formGroup]="driveFromForm">
        <ng-template matStepLabel>Drive From</ng-template>
        <!-- The caller can skip the driveFrom as long as a driveTo has
        been added. If there is no driveTo, the appointment must have a
        driveFrom -->
        <div class="appt-form-group" *ngIf="askIfCallerNeedsDropoff">
          <p class="text-heavy">Does the caller need a drive home FROM {{ apptServiceProvider }}?</p>
          <div class="btn-group">
            <button mat-raised-button
                    class="btn-cta primary-outline flex"
                    color="accent"
                    type="button"
                    matStepperNext
                    (click)="callerNeedsDropoff = false;
                             askIfCallerNeedsDropoff = false;">No</button>
            <button mat-raised-button
                    class="btn-cta flex"
                    color="primary"
                    type="button"
                    (click)="callerNeedsDropoff = true;
                             askIfCallerNeedsDropoff = false;">Yes</button>
          </div>
        </div>
        <div class="appt-form-group" *ngIf="!askIfCallerNeedsDropoff && callerNeedsDropoff">
          <h3>Drop-Off Address</h3>
          <!-- If there's a pickup address, we can set the dropoff address
          to be the same -->
          <div *ngIf="callerNeedsPickup">
            <mat-checkbox (change)="toggleDropoffSameAsPickup($event.checked)"
                          [checked]="dropoffSameAsPickup">
              Same as pickup address?
            </mat-checkbox>
            <br><br>
          </div>
          <ng-container>
            <mat-form-field appearance="standard">
              <mat-label>Street Address</mat-label>
              <input matInput
                     type="text"
                     formControlName="dropoffAddress"
                     aria-label="Street Address"
                     placeholder="21 Park Dr. Ste 200">
              <mat-error *ngIf="formDropoff.dropoffAddress.errors?.required">This field is required.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>City</mat-label>
              <input matInput
                     type="text"
                     formControlName="dropoffCity"
                     aria-label="Dropoff City"
                     placeholder="Cypress">
              <mat-error *ngIf="formDropoff.dropoffCity.errors?.required">This field is required.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>State</mat-label>
              <input matInput
                     type="text"
                     formControlName="dropoffState"
                     aria-label="Dropoff State"
                     placeholder="TX">
              <mat-error *ngIf="formDropoff.dropoffState.errors?.required">This field is required.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Zip Code</mat-label>
              <input matInput
                     type="text"
                     formControlName="dropoffPostalCode"
                     aria-label="Dropoff Zip Code"
                     placeholder="77777">
              <mat-error *ngIf="formDropoff.dropoffPostalCode.errors?.required">This field is required.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Vague Dropoff Location</mat-label>
              <input matInput
                     type="text"
                     formControlName="dropoffLocationVague"
                     aria-label="Vague Dropoff Location"
                     placeholder="Yale St. off I-45">
              <mat-error *ngIf="formDropoff.dropoffLocationVague.errors?.required">This field is required.</mat-error>
            </mat-form-field>
          </ng-container>
          <div class="form-actions">
            <button class="back-btn btn-cta secondary"
                    mat-raised-button
                    color="accent"
                    type="button"
                    (click)="askIfCallerNeedsDropoff = true"
                    matStepperPrevious>Back</button>
            <button class="next-btn"
                    mat-mini-fab
                    color="primary"
                    type="button"
                    [disabled]="!this.driveFromForm.valid"
                    matStepperNext><mat-icon>keyboard_arrow_right</mat-icon></button>
          </div>
        </div>
      </form>
    </mat-step>
<!--********************************************************************
                                STEP 4
                            Review & Submit
**********************************************************************-->
    <mat-step>
      <h1 class="summary">Summary Screen</h1>
      <ng-template matStepLabel>Summary</ng-template>
      <div *ngIf="this.appointmentForm.valid &&
                  (!callerNeedsPickup || this.driveToForm.valid) &&
                  (!callerNeedsDropoff || this.driveFromForm.valid)"
           class="appt-form-group">
        <mat-card class="review-card candy-card no-border">
          <div class="info-group text-small">
            <span class="text-light">Caller ID</span>
            <span>{{ formAppt.callerIdentifier.value }}</span>
          </div>
          <div class="info-group text-small">
            <span class="text-light">Date</span>
            <span>{{ formAppt.appointmentDate.value | date:'MMM d, y, h:mm a'}}</span>
          </div>
          <div class="info-group text-small">
            <span class="text-light">Type</span>
            <span>{{ apptType }}</span>
          </div>
          <div class="info-group text-small">
            <span class="text-light">Provider</span>
            <span>{{ apptServiceProvider }}</span>
          </div>
        </mat-card>
        <div class="card-icon-group">
          <div class="icons">
            <mat-icon class="icon-small icon-container secondary">place</mat-icon>
            <div class="icon-connector-line"></div>
            <mat-icon class="icon-small icon-container primary">place</mat-icon>
          </div>
          <div class="cards">
            <!-- Drive To Card -->
            <mat-card class="review-card fixed-height candy-card light-border text-small">
              <h4>Drive To {{ apptServiceProvider }}</h4>
              <div *ngIf="callerNeedsPickup; else noPickup">
                <span>Pick Up Caller at <em>{{ formPickup.pickupLocationVague.value }}</em></span>
                <br/>
                <address>
                  {{ formPickup.pickupAddress.value }}<br>
                  {{ formPickup.pickupCity.value }}
                  {{ formPickup.pickupState.value }},
                  {{ formPickup.pickupPostalCode.value }}
                </address>
              </div>
              <ng-template #noPickup>
                <p style="color:#666"><em>Caller doesn't need a ride to {{ apptServiceProvider }}.</em></p>
              </ng-template>
            </mat-card>
            <!-- Drive From Card -->
            <mat-card class="review-card fixed-height candy-card light-border text-small">
              <h4>Drive From {{ apptServiceProvider }}</h4>
              <div *ngIf="callerNeedsDropoff; else noDropoff">
                <span>Drop Off Caller at</span>
                  &nbsp;<em>{{ formDropoff.dropoffLocationVague.value }}</em>
                  <br><br>
                  <address>
                    {{ formDropoff.dropoffAddress.value }}<br>
                    {{ formDropoff.dropoffCity.value }}
                    {{ formDropoff.dropoffState.value }},
                    {{ formDropoff.dropoffPostalCode.value }}
                  </address>
              </div>
              <ng-template #noDropoff>
                <p style="color:#666"><em>Caller doesn't need a ride home from {{ apptServiceProvider }}.</em></p>
              </ng-template>
            </mat-card>
          </div>
        </div>
        <div class="form-actions">
          <button class="back-btn btn-cta secondary"
                  mat-raised-button
                  color="accent"
                  type="button"
                  matStepperPrevious>Back</button>
          <button class="next-btn btn-cta flex"
                  mat-raised-button
                  color="primary"
                  [disabled]="!this.appointmentForm.valid ||
                              (callerNeedsPickup && !this.driveToForm.valid) ||
                              (callerNeedsDropoff && !this.driveFromForm.valid)"
                  (click)="onSubmit()"
                  type="button">Submit</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</main>

<app-loader *ngIf="loading"></app-loader>
<!--********************************************************************
                              Form Debug
**********************************************************************-->
<div class="debug">
  <p>formAppt Status: {{ this.appointmentForm.status }}</p>
  <p>Form Value:</p>
  <pre>{{ this.appointmentForm.value | json }}</pre>
  <p>formPickup Status: {{ this.driveToForm.status }}</p>
  <p>Form Value:</p>
  <pre>{{ this.driveToForm.value | json }}</pre>
  <p>formDropoff Status: {{ this.driveFromForm.status }}</p>
  <p>Form Value:</p>
  <pre>{{ this.driveFromForm.value | json }}</pre>
  <p>Appointment DTO:</p>
  <pre>{{ this.appointmentDTO | json }}</pre>
</div>
