<mat-sidenav-container class="app-container">
<!--********************************************************************
                          Sidenav Menu
**********************************************************************-->
  <mat-sidenav class="side-menu"
               #sidenav
               mode="over"
               [(opened)]="opened">
    <button mat-raised-button
            color="primary"
            routerLink="/"
            (click)="sidenav.close()">My Dashboard</button>
    <button mat-raised-button
            color="primary"
            routerLink="/patient" (click)="sidenav.close()">Schedule a Ride</button>
    <button mat-raised-button
            color="primary"
            routerLink="/view-schedule"
            (click)="sidenav.close()">View Schedule</button>
    <button mat-raised-button
            color="accent"
            routerLink="/login"
            (click)="sidenav.close()">Log Out</button>
  </mat-sidenav>
<!--********************************************************************
                          Main App Content
**********************************************************************-->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <img class="logo"
           src="assets/img/casn-logo.png"
           alt="CASN logo"
           routerLink="/">
      <span class="fill-remaining-space"></span>
      <mat-icon class="clicky" (click)="sidenav.toggle()">menu</mat-icon>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
