@import './styles/variables';

.app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $background-color;

  &.white {
    background: $white;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.logo {
  height: 36px;
  margin-left: 12px;
}

.sidenav-logo {
  height: 50px;
}

.side-menu {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 0;
}

.add-to-home-btn {
  width: 100%;
  position: fixed;
  z-index: 100;
  background: white;
  margin-top: 65px;
}

.icon-container {
  background-color: rgba($primary-color-dark, 0.1);
  // color: #3245C8;
  color: #777FAD;
  border-radius: 5px;
  margin-right: 16px;
  padding: 4px 5px;

  &.active {
    background-color: #3245C8;
    color: $background-color;
  }
}

.icon-text {
  font-weight: 500;
  color: #777FAD;

  &.active {
    color: $dark-frosted;
  }
}

.logout-menu-item {
  position: absolute !important;
  bottom: 20px;
}
