<mat-sidenav-container class="app-container">
<!--********************************************************************
                          Sidenav Menu
**********************************************************************-->
  <mat-sidenav class="side-menu"
               #sidenav
               mode="over"
               [(opened)]="opened">
    <mat-list>
        <img class="sidenav-logo"
             src="assets/img/casn-logo.png"
             alt="CASN logo"
             routerLink="/">
        <ng-container *ngFor="let m of menuItems">
          <mat-list-item *ngIf="!m.dispatcherOnly || userRole === '1'"
          [routerLink]="m.address"
          (click)="sidenav.close()">
            <mat-icon mat-list-icon>{{ m.icon }}</mat-icon>
            <h4 mat-line>{{ m.name }}</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>
        <mat-list-item>
          <mat-icon mat-list-icon>cancel</mat-icon>
          <h4 mat-line (click)="logout()">Log Out</h4>
        </mat-list-item>
    </mat-list>
  </mat-sidenav>
<!--********************************************************************
                          Main App Content
**********************************************************************-->
  <mat-sidenav-content>
    <button *ngIf="showButton"
            class="mat-elevation-z4 add-to-home-btn"
            mat-button
            color="primary"
            (click)="addToHomeScreen()">
            <mat-icon>home</mat-icon>
            <span class="btn-text">Install CASN on Your Home Screen</span>
    </button>
    <mat-toolbar class="app-navbar candy-toolbar mat-elevation-z2">
      <mat-icon *ngIf="isLoggedIn()"
                class="clicky"
                (click)="sidenav.toggle()"
                style="width:18px"
                svgIcon="casn_menu">menu</mat-icon>
      <img class="logo"
           src="assets/img/casn-logo.png"
           alt="CASN logo"
           routerLink="/">
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
