<mat-sidenav-container class="app-container">
<!--********************************************************************
                          Sidenav Menu
**********************************************************************-->
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
      <button mat-raised-button color="accent" routerLink="/login">Log Out</button>
  </mat-sidenav>
<!--********************************************************************
                          Main App Content
**********************************************************************-->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span routerLink="/">CASN</span>
      <span class="fill-remaining-space"></span>
      <mat-icon class="clicky" (click)="sidenav.toggle()">menu</mat-icon>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
