@import '../../../styles/variables';

/********************************************************************
                          Title + Controls
********************************************************************/
.title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #3245C8;
  color: $white;

  .control-btn {
    width: 28px;
    height: 28px;
    line-height: 14px;
    font-size: 14px;
    margin-right: 6px;

    &::ng-deep .mat-button-wrapper {
      line-height: 14px;
      padding: 0;

       .mat-icon {
         font-size: 16px;
         padding-right: 1px;
         padding-top: 5px;
      }
    }
  }

  .list-view-btn {
    font-size: 11px;
    border-radius: 20px;
    height: 28px;
    font-weight: normal;
    display: inline-flex;
    align-items: center;

    .mat-icon {
      font-size: 12px;
      width: 12px;
      height: 12px;
      line-height: 12px;
    }
  }
}

/********************************************************************
                        Date Selection Nav
********************************************************************/
.date-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3245C8;

  .month {
    margin: 0;
    padding: 0 8px;
    background: #3245C8;
    color: $white;
  }

  hr {
    border: none;
    border-top: 4px dotted rgba($white, 0.8);
    color: #3245C8;
    background-color: #3245C8;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.date-bar {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #3245C8;
  color: $white;
  font-size: 11px;

  button {
    font-size: 11px;
  }
}

.date-card {
  background-color: #3245C8;
  color: white;
  display: flex;
  flex-direction: column;
  width: 50px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 300;
}

.date-card.active {
  background-color: #DB3BB9;
  color: white;
}

.day {
  font-size: 16px;
  margin-top: 8px;
}

.week-change-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 4px;
  color: rgba($white, 0.6);

  .mat-icon {
    font-size: 12px;
    width: 12px;
    height: 12px;
    line-height: 12px;
  }
}
