/* Custom Sass Variables to be included
in component-level or app-level stylesheets

If you are looking for a variable that isn't in this file,
note that some variables, e.g. Material color palette variables,
may be referenced from the Angular Material library in node_modules.
*/


$primary-color: #B39DDB;
$primary-color-light: #7986CB;
$primary-color-dark: #3F51B5;

$accent-color: #B2DFDB;

$warn-color: #ef5350;
$success-color: #66bb6a;
