@import './variables';
// Import library functions for theme creation.
@import '~@angular/material/theming';

// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin candy-stepper-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  // Define any styles affected by the theme.
  .candy-stepper {
    max-width: 100%;

    .mat-horizontal-stepper-header {
      height: 16px;
      padding: 0;
      flex-direction: column;
      flex: 1;
      text-align: center;

      .mat-step-label {
        // color: $white;
        font-size: 11px;
        font-weight: 400;

        &.mat-step-label-selected {
          // color: rgba(0, 0, 0, 0.5);
        }
      }

      .mat-step-icon {
        // background-color: $white;
        margin-right: 0;
        height: 3px;
        border-radius: 0;
        width: 100%;

        &.mat-step-icon-selected {
          // background-color: $primary-color-dark;
        }

        .mat-step-icon-content {
          display: none;
        }
      }

    }

    .mat-stepper-horizontal-line {
      display: none;
    }
  }
}

@mixin candy-stepper-typography($config) {
  .candy-stepper {
    font: {
      family: mat-font-family($config, body-1);
      size: mat-font-size($config, body-1);
      weight: mat-font-weight($config, body-1);
    }
  }
}
