<main>
  <mat-tab-group mat-align-tabs="center" class="candy-tab-group">
    <mat-tab label="Badges">
      <mat-card>
        <mat-card-title>My Badges</mat-card-title>
        <div class="badge-container">
          <div class="flip-card" *ngFor="let b of badges">
            <div class="flip-card-inner"
                 (click)="toggleTapped(b)"
                 [ngClass]="b.tapped ? 'tapped' : ''">
              <div class="front">
                <img [src]="b.path"
                     alt="b.title"
                     [ngClass]="b.earned ? 'active' : 'inactive'"/>
              </div>
              <div class="back" *ngIf="b.earned">
                <h3>{{ b.title }}</h3>
                <p *ngIf="b.earned"><em>Earned {{ b.dateEarned }}</em></p>
                <p>{{ b.description }}</p>
              </div>
              <div class="back" *ngIf="!b.earned">
                <h3>{{ b.title }}</h3>
                <p>???</p>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="Stats">
      <mat-card class="stat-card">
        <mat-card-header>
          <mat-card-title>Daily Streaks</mat-card-title>
          <mat-card-subtitle>Current Streak: 1 day</mat-card-subtitle>
          <mat-card-subtitle>Longest Streak: 1 day</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class="stat-card">
        <mat-card-header>
          <mat-card-title>Weekly Streaks</mat-card-title>
          <mat-card-subtitle>Current Streak: 1 week</mat-card-subtitle>
          <mat-card-subtitle>Longest Streak: 1 week</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-tab>
    <mat-tab label="Leaderboard">
      <app-leaderboard></app-leaderboard>
    </mat-tab>
  </mat-tab-group>
</main>
