@import '../styles/variables';

.badge-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .flip-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    img {
      width: 100%;
      &.inactive {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }
  }
}

.mat-card-title {
  text-align: center;
}

.stat-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The flip card container */
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: transform 0.8s;
  transition: transform 0.8s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* Do a horizontal flip when you click/tap flip box container */
.flip-card-inner.tapped {
  --webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* Position the front and back side */
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $background-color;
  color: $body-color;
  border: 1px solid $primary-color-dark;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  h3, p {
    margin: 5px;
  }
}
