@import '../styles/variables';

.badge-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .flip-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    img {
      width: 100%;
      &.inactive {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }
  }
}

.mat-card-title {
  text-align: center;
}

.stat-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card {
  width: 250px;
  height: 250px;

  .flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;

    .front, .back {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }

    .back {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $background-color;
      color: $body-color;
      border: 1px solid $primary-color-dark;
      h3, p {
        margin: 5px;
      }
    }

  }
}
