@import '../styles/variables';

h1 {
  font-size: 1.2rem;
}

p {
  margin: 5px;
}

.text-sm {
  font-size: 0.9rem;
}

.dates-rides-wrapper {
  display: flex;
}

/********************************************************************
                Appointment/Drive Display Section
********************************************************************/
.ride-container {
  width: 100%;
  // Deal with hammerjs swipe weirdness
  overflow-y: auto;
  overflow-x: none;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y !important;
}

.ride-container header {
  background: $background-color;
  opacity: 1;
  color: $body-color;
  box-sizing: border-box;
  padding: 0;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1;
  height: 90px;

  .tabs-wrapper {
    background-color: inherit;
    padding: 20px;
    padding-bottom: 0;
  }

  .tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    align-items: flex-end;
    color: rgba($body-color, 0.6);

    .tab, .active {
      margin: 0;
      padding: 5px 2px;
    }

    .active {
      border-bottom: 2px solid #3546C7;
      font-weight: bold;
      color: $body-color;
    }
  }
}

.ride-container header + div {
  margin-top: 110px; /* Clear header + tabs */
}

.drive-container {
  margin-bottom: 10px;
  @media only screen and (min-device-width : 350px) {
    display: flex;
  }
}

.appointment-drive-wrapper {
  background: $background-color;
  margin: 5px 15px;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.no-rides-card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;

  img {
    width: 100%;
    max-width: 500px;
  }
}

.appointment-card {
  display: flex;
  align-items: center;
  // justify-content: center;
  background: $transparent;
  border-radius: 25px;
}

.date-badge {
  font-weight: bold;
  font-size: 1.75rem;
  border: 2px solid #555;
  border-top: 8px solid #555;
  box-sizing: border-box;
  padding: 3px 5px;
  margin-right: 10px;

  min-width: 45px;
  text-align: center;
}

.drive-card {
  display: flex;
  border-radius: 35px;
  margin: 5px;
  @media only screen and (min-device-width : 350px) {
    width: 100%;
    flex-direction: column;
  }
}

.drive-card-header {
  display: flex;
  align-items: center;
  min-width: 40%;
}

.drive-card-content {
  display: flex;
  align-items: center;
}

.no-drive {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  border: 1px solid #999;
  text-align: center;
}

/********************************************************************
                      Footer - Settings/Controls
********************************************************************/
.fixed-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
  background-color: $primary-color;
  // opacity: 0.8;
  color: white;
  padding: 5px;
  height: 20px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
