@import '../styles/variables';

h1 {
  font-size: 1.2rem;
}

p {
  margin: 5px;
}

.text-sm {
  font-size: 0.9rem;
}

.dates-rides-wrapper {
  display: flex;
}

.open {
  background-color: $error-color-faded;
  border: 2px solid $error-color;
}

.open .status-text {
  color: $error-color;
}

.pending {
  background-color: $pending-color-faded;
  border: 2px solid $pending-color;
}

.pending .status-text {
  color: $pending-color;
}

.approved {
  background-color: $success-color-faded;
  border: 2px solid $success-color;
}

.approved .status-text {
  color: $success-color;
}

.canceled-by-caller {
  background-color: #ccc;
  border: 2px solid #555;
}

.canceled-by-caller .status-text {
  color: #555;
}

.canceled-by-us {
  background-color: $poop-color-faded;
  border: 2px solid $poop-color;
}

.canceled-by-us .status-text {
  color: $poop-color;
}

/********************************************************************
                        Date Selection Sidebar
********************************************************************/
.date-sidebar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 155px);
  width: 65px;
  margin-top: 55px;
}

.date-card {
  background-color: $primary-color-dark;
  color: white;
  border: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  width: 60px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.date-card.active {
  background-color: $accent-color-1;
  color: white;
}

.day {
  font-size: 1.5rem;
  font-weight: bold;
}

/********************************************************************
                Appointment/Drive Display Section
********************************************************************/
.ride-container {
  width: 100%;
  height: calc(100vh - 102px); /* Header: 56px, Footer: 46px */
  overflow: auto;
}

.ride-container header {
  display: flex;
  background: $primary-color-dark;
  opacity: 0.8;
  color: white;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1;
  height: 55px;
}

.ride-container header + div {
  margin-top: 55px; /* Clear header */
}

.drive-container {
  // display: flex;
  margin-bottom: 10px;
}

.appointment-drive-wrapper {
  background: white;
  margin: 5px 5px 20px 5px;
  border-radius: 5px;
  padding-bottom: 5px;
}

.no-rides-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vw;
}

.appointment-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $transparent;
  border-radius: 25px;
}

.date-badge {
  font-weight: bold;
  font-size: 0.75rem;
  border: 2px solid #555;
  border-top: 5px solid #555;
  box-sizing: border-box;
  padding: 3px 4px;
  margin-right: 10px;
}

.drive-card {
  // width: 100%;
  display: flex;
  // flex-direction: column;
  // padding: 5px 0px 8px 5px;
  border-radius: 35px;
  margin: 5px;
}

.drive-card-header {
  display: flex;
  align-items: center;
  min-width: 40%;
}

.drive-card-content {
  display: flex;
  align-items: center;
}

/********************************************************************
                      Footer - Settings/Controls
********************************************************************/
.fab {
  position: fixed;
  bottom: 50px;
  right: 10px;
}

.fixed-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
  background-color: $transparent;
  opacity: 0.8;
  color: white;
  padding: 5px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
