p {
  margin: 5px;
}

.day {
  font-size: 1.5rem;
  font-weight: bold;
}

.fixed-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
  background-color: #9575cd;
  padding: 5px;
}

.open {
  /* background-color: #ef5350; */
  /* color: white; */
  background-color: #ffebee;
}

.pending {
  /* background-color: #ffca28; */
  /* color: #333; */
  background-color: #fff8e1;
}

.approved {
  /* background-color: #66bb6a; */
  /* color: white; */
  background-color: #e0f2f1;
}

.drive-container {
  display: flex;
}

.appointment-card {
  text-align: center;
}

.drive-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 0px 8px 5px;
}

.drive-card-header {
  display: flex;
}

.bolder {
  font-weight: 600;
}

.bold {
  font-weight: 500;
}

/* .date-container {
  background-color: pink;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  z-index: 20;
  position: fixed;
  width: 50px;
  align-items: center;
} */
