<main>
<!--********************************************************************
                              Appt Form
**********************************************************************-->
  <h2>Create Appointment</h2>
  <form [formGroup]="apptForm" (ngSubmit)="onSubmit()">
    <div class="appt-form-group">
      <h3>Caller #{{ f.callerIdentifier.value }}</h3>
      <mat-form-field class="example-full-width hide"
                      appearance="outline"
                      disabled>
        <mat-label>Caller ID</mat-label>
        <input type="text"
        placeholder="1234"
        aria-label="Caller Identifier"
        matInput
        formControlName="callerIdentifier">
        <mat-error *ngIf="f.callerIdentifier.errors?.required">This field is required.</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width hide" appearance="outline">
        <mat-label>Dispatcher ID</mat-label>
        <input type="number"
        placeholder="4321"
        aria-label="Dispatcher Identifier"
        matInput
        formControlName="dispatcherId">
        <mat-error *ngIf="f.dispatcherId.errors?.required">This field is required.</mat-error>
      </mat-form-field>
    </div>

  <div class="appt-form-group">
    <mat-form-field appearance="outline">
      <mat-label>Appointment Type</mat-label>
      <mat-select placeholder="Appt Type"
                  aria-label="Appointment Type"
                  formControlName="appointmentTypeId">
        <mat-option *ngFor="let a of apptTypes" [value]="a.value">
          {{ a.displayValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="f.appointmentTypeId.errors?.required">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Clinic</mat-label>
      <mat-select placeholder="Clinic"
                  aria-label="Clinic"
                  formControlName="clinicId">
        <mat-option *ngFor="let c of clinics" [value]="c.id">
          {{ c.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="f.clinicId.errors?.required">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Appointment Time</mat-label>
      <input [owlDateTimeTrigger]="dt5"
             [owlDateTime]="dt5"
             matInput
             placeholder="Choose a date"
             formControlName="appointmentDate">
      <owl-date-time [pickerMode]="'dialog'" #dt5></owl-date-time>
    </mat-form-field>

    <h3>Pick-Up Address</h3>
    <mat-form-field appearance="outline">
      <mat-label>Street Address</mat-label>
      <input matInput
            type="text"
            formControlName="pickupAddress"
            aria-label="Street Address"
            placeholder="345 Main St, Apt F">
      <mat-error *ngIf="f.pickupAddress.errors?.required">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input matInput
            type="text"
            formControlName="pickupCity"
            aria-label="Pickup City"
            placeholder="Cypress">
      <mat-error *ngIf="f.pickupCity.errors?.required">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>State</mat-label>
      <input matInput
            type="text"
            formControlName="pickupState"
            aria-label="Pickup State"
            placeholder="TX">
      <mat-error *ngIf="f.pickupState.errors?.required">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Zip Code</mat-label>
      <input matInput
            type="text"
            formControlName="pickupZipCode"
            aria-label="Pickup Zip Code"
            placeholder="77777">
      <mat-error *ngIf="f.pickupZipCode.errors?.required">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Vague Pickup Location</mat-label>
      <input matInput
            type="text"
            formControlName="pickupLocationVague"
            aria-label="Vague Pickup Location"
            placeholder="23rd and Main St.">
      <mat-error *ngIf="f.pickupLocationVague.errors?.required">This field is required.</mat-error>
    </mat-form-field>

    <h3>Drop-Off Address</h3>
    <mat-checkbox (change)="setDropoffLocation($event.checked)">
      Same as pickup address?
    </mat-checkbox>
    <mat-form-field appearance="outline"
                    [class.hide]="!showDropoffLocationInputs">
      <mat-label>Street Address</mat-label>
      <input matInput
             type="text"
             formControlName="dropoffAddress"
             aria-label="Street Address"
             placeholder="21 Park Dr. Ste 200">
      <mat-error *ngIf="f.dropoffAddress.errors?.required">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline"
                    [class.hide]="!showDropoffLocationInputs">
      <mat-label>City</mat-label>
      <input matInput
            type="text"
            formControlName="dropoffCity"
            aria-label="Dropoff City"
            placeholder="Cypress">
      <mat-error *ngIf="f.dropoffCity.errors?.required">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline"
                    [class.hide]="!showDropoffLocationInputs">
      <mat-label>State</mat-label>
      <input matInput
            type="text"
            formControlName="dropoffState"
            aria-label="Dropoff State"
            placeholder="TX">
      <mat-error *ngIf="f.dropoffState.errors?.required">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline"
                    [class.hide]="!showDropoffLocationInputs">
      <mat-label>Zip Code</mat-label>
      <input matInput
            type="text"
            formControlName="dropoffZipCode"
            aria-label="Dropoff Zip Code"
            placeholder="77777">
      <mat-error *ngIf="f.dropoffZipCode.errors?.required">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline"
                    [class.hide]="!showDropoffLocationInputs">
      <mat-label>Vague Dropoff Location</mat-label>
      <input matInput
             type="text"
             formControlName="dropoffLocationVague"
             aria-label="Vague Dropoff Location"
             placeholder="Yale St. off I-45">
      <mat-error *ngIf="f.dropoffLocationVague.errors?.required">This field is required.</mat-error>
    </mat-form-field>


    <button class="form-btn"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!apptForm.valid">Submit</button>
    <button mat-raised-button
            type="button"
            color="warn"
            class="form-btn"
            (click)="handleCancelClick()">Cancel</button>
    </div>
  </form>
  <!-- TODO: Replace with something less hacky -->
  <br><br><br><br><br><br><br><Br><br><br><br><br>
  <br><br><br><br><br><br><br><Br><br><br><br><br>
  <br><br><br><br><br><br><br><Br><br><br><br><br>

  <!--********************************************************************
                              Form Debug
  **********************************************************************-->
  <div class="debug">
    <p>Form Status: {{ apptForm.status }}</p>
    <p>Form Value:</p>
    <pre>{{ apptForm.value | json }}</pre>
  </div>
</main>
