h1 {
  font-size: 1rem;
  text-align: center;
}

.cancel-card {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

#cancel-reason .mat-form-field-wrapper {
  padding-bottom: 0;
}
