@import "../styles/variables";

h2 {
  margin-bottom: 0;
  margin-top: 50px;
}

p {
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

footer {
  height: 60px;
  background: $white;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
}

.hide {
  display: none;
}

.next-btn {
  margin: 8px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.back-btn {
  margin: 8px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  min-width: 0;
}
