@import '../styles/variables';

a {
  text-decoration: none;
  color: $pending-color;
}

address {
  font-style: normal;
  line-height: 22px;
}

h1 {
  font-size: 1rem;
  text-align: center;
}

.modal-title {
  border-bottom: none; /* use tabs border instead */
  padding-bottom: 0;
}

.title {
  display: inline-block;
  margin-bottom: 10px;
}

.appointment-card {
  text-align: center;
}

.edit-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.edit-btn {
  float: right;
}

.ride-card {
  width: 100%;
}

.drive-container {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.icon-container {
  background-color: #E2E4F7;
  color: $primary-color-dark;
  display: flex;
  border-radius: 100%;
  width: 25px;
  height: 20px;
  justify-content: center;
  align-items: center;

  .mat-icon {
    font-size: 14px;
    width: 14px;
    height: 14px;
  }
}

.info-row {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
  align-items: center;
}

.modal-actions {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.modal-actions-cancel {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
}

.volunteer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.approved {
  color: $success-color;
}

.label {
  width: 50px;
  margin-right: 16px;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}

agm-map {
  height: 400px;
}
