<!-- TODO: Talk abt wording of pickup/dropoff -->
<!-- TODO: Talk abt volunteers/apply section at bottom of modal -->


<div class="modal" *ngIf="ride && serviceProviders && apptTypes">
  <div class="modal-content">
    <!--********************************************************************
                                Modal Title
    **********************************************************************-->
    <div class="modal-title">
      <h1>{{ ride.caller.callerIdentifier }}'s {{ apptTypes[ride.appointment?.appointmentTypeId].title }}</h1>
      <span class="close"
            (click)="handleCloseModalClick()">X</span>
    </div>
    <mat-tab-group class="candy-tab-group">
      <!--********************************************************************
                                Detail View Tab
      **********************************************************************-->
      <mat-tab label="Details">
        <div class="modal-body">
          <!--=========== Appt Info ============-->
          <div class="info-row">
            <span class="text-small text-light"><mat-icon svgIcon="casn_location">location</mat-icon> {{ serviceProviders[ride.appointment.serviceProviderId].name }}</span>
          </div>
          <div class="info-row text-small">
            <span>{{ ride.appointment.appointmentDate | date:'MMMM d, y'}}</span>
            <span class="text-light">Date</span>
          </div>
          <hr>
          <!--=========== Pick Up Info ============-->
          <div class="mt ride-card">
            <mat-icon *ngIf="userRole === '1'"
                      class="edit-btn"
                      (click)="editAppointment()">edit</mat-icon>
            <span class="bold title">Pick up:</span><span *ngIf="!isDriveTo"> {{ getAppointmentEndTime(ride.appointment.appointmentDate, ride.appointment.appointmentTypeId) | date:'shortTime' }}</span><br>
            <!-- NOTE: Conditional tests if real address available (exact address is hidden from non-approved drivers for privacy) -->
            <a *ngIf="ride[driveType].startPostalCode; else startAddress"
               [href]="startAddressGoogleMapLink"
               target="_blank">
              <address>
                {{ ride[driveType].startAddress }}<br>
                {{ ride[driveType].startCity }} {{ ride[driveType].startState }} {{ ride[driveType].startPostalCode }}
              </address>
            </a>
          </div>
          <!--=========== Drop Off Info ============-->
          <div class="mt ride-card">
            <mat-icon *ngIf="userRole === '1'"
                      class="edit-btn"
                      (click)="editAppointment()">edit</mat-icon>
            <span class="bold title">Drop off:</span><span *ngIf="isDriveTo">{{ ride.appointment?.appointmentDate | date:'shortTime'}}</span><br>
            <!-- NOTE: Conditional tests if real address available (exact address is hidden from non-approved drivers for privacy) -->
            <a *ngIf="ride[driveType].endPostalCode; else endAddress"
               [href]="endAddressGoogleMapLink"
               target="_blank">
              <address>
                {{ ride[driveType].endAddress }}<br>
                {{ ride[driveType].endCity }} {{ ride[driveType].endState }} {{ ride[driveType].endPostalCode }}
              </address>
            </a>
          </div>
          <hr>
          <!--=========== Caller Info ============-->
          <span class="bold title">Caller Information</span><br>
            <div class="info-row text-small" *ngIf="userRole === '2' && !ride.caller.phone">
              <em>The caller's contact info will be available once you are approved for the drive!</em>
            </div>
            <div class="info-row text-small" *ngIf="ride.caller.firstName">
              <span>{{ ride.caller.firstName }} {{ ride.caller.lastName }}</span>
              <span class="text-light">Name</span>
            </div>
            <div class="info-row text-small" *ngIf="ride.caller.phone">
              <a [href]="callerContactLink | safeUrl">{{ ride.caller.phone | phone }}</a>
              <span class="text-light">Contact number</span>
            </div>
            <div class="info-row text-small" *ngIf="ride.caller.preferredLanguage !== 'English'">
              <em>Preferred Language is {{ ride.caller.preferredLanguage }}</em>
              <span class="text-light">Flag</span>
            </div>
            <div class="info-row text-small" *ngIf="ride.caller.isMinor">
              <em>Caller is a minor</em>
              <span class="text-light">Flag</span>
            </div>
          <hr>
          <!--=========== Caller Notes ============-->
          <span class="bold title">Notes from Dispatcher</span><br>
          <span class="text-light">{{ ride.caller.note || 'N/A'}}</span>
          <!--=========== Volunteers ============-->
          <mat-card *ngIf="volunteers && !driveIsApproved && userRole === '1'" class="mt candy-card">
            <span class="bolder">Volunteers</span>
            <div *ngFor="let v of volunteers" class="volunteer-container">
              {{ v.firstName }} {{ v.lastName }}
              <div>
                <button type="button"
                        [style.margin-right.px]="5"
                        mat-raised-button
                        color="warn"
                        (click)="handleDenyClick(v.id, v.firstName)">Deny</button>
                <button type="button"
                        mat-raised-button
                        (click)="handleApproveClick(v.id)"
                        color="primary">Approve</button>
              </div>
            </div>
          </mat-card>
          <mat-card *ngIf="driveIsApproved && userRole === '1'" class="mt candy-card">
            <span class="bolder">Volunteers</span>
            <ng-container *ngFor="let v of volunteers">
              <div *ngIf="v.volunteerId === ride[driveType].driverId"
                   class="volunteer-container">
                {{ v.firstName }} {{ v.lastName }}
                <span class="approved"><mat-icon>done</mat-icon>Approved</span>
              </div>
              <div class="text-center">
                <button *ngIf="v.volunteerId === ride[driveType].driverId"
                        [style.margin-top.px]="10"
                        type="button"
                        mat-raised-button
                        color="warn"
                        (click)="handleUnapproveClick(ride[driveType].id, v.firstName)"><mat-icon>cancel</mat-icon> Retract {{ v.firstName }}'s Application</button>
              </div>
            </ng-container>
          </mat-card>
          <mat-card *ngIf="userRole === '2' && driveIsApproved" class="mt candy-card">
            <span class="bolder">This drive has already been approved :).</span>
          </mat-card>
          <mat-card *ngIf="userRole === '2' && ride[driveType].statusId === 1" class="mt candy-card">
            <span class="bolder">Thanks, you've applied for this drive! Your application is awaiting dispatcher approval.</span>
            <br><br>
          </mat-card>
        </div>
      </mat-tab>
      <!--********************************************************************
                                  Map View Tab
      **********************************************************************-->
      <mat-tab label="Map View">
        <mat-card class="candy-card">
          <agm-map [latitude]="ride[driveType].startLatitude"
                   [longitude]=" ride[driveType].startLongitude">
            <agm-marker [latitude]="ride[driveType].startLatitude"
                        [longitude]="ride[driveType].startLongitude"
                        [iconUrl]="startIconUrl">
              <agm-snazzy-info-window>
                <ng-template>
                  Start Address:
                  <!-- NOTE: Conditional tests if real address available -->
                  <a *ngIf="ride[driveType].startPostalCode; else startAddress"
                     [href]="startAddressGoogleMapLink"
                     target="_blank">
                    <address>{{ ride[driveType].startAddress }}</address>
                  </a>
                </ng-template>
              </agm-snazzy-info-window>
            </agm-marker>
            <agm-marker [latitude]="ride[driveType].endLatitude"
                        [longitude]="ride[driveType].endLongitude"
                        [iconUrl]="endIconUrl">
              <agm-snazzy-info-window>
                <ng-template>
                  End Address:
                  <!-- NOTE: Conditional tests if real address available -->
                  <a *ngIf="ride[driveType].endPostalCode; else endAddress"
                     [href]="endAddressGoogleMapLink"
                     target="_blank">
                    <address>{{ ride[driveType].endAddress }}</address>
                  </a>
                </ng-template>
              </agm-snazzy-info-window>
            </agm-marker>
          </agm-map>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
    <!--=========== Modal Actions ============-->
    <div class="modal-actions">
      <button type="button"
              class="btn-cta"
              mat-raised-button
              *ngIf="userRole === '1' || ride[driveType].statusId === 0"
              [disabled]="ride[driveType].statusId === 2"
              (click)="handleApplyClick()"
              color="primary">Apply Now!</button>
      <button type="button"
              class="btn-cta warn"
              mat-raised-button
              *ngIf="userRole === '2' && ride[driveType].statusId === 1"
              (click)="handleRetractClick(ride[driveType].id)"
              color="primary">Retract Application</button>
    </div>
    <div class="modal-actions-cancel">
      <button type="button"
              mat-button
              (click)="handleCloseModalClick()"
              color="accent"
              class="mr">Go Back</button>
      <button type="button"
              *ngIf="userRole === '1' && ride[driveType].statusId !== 3"
              mat-button
              (click)="handleCancelDriveClick()"
              color="accent">Cancel This Drive</button>
    </div>
  </div>
</div>
<!--********************************************************************
                          Drive Cancel Modal
**********************************************************************-->
<app-cancel-drive-modal *ngIf="showCancelDriveModal"
                        (closeCancelDriveModalClick)="hideCancelDriveModal()"
                        (closeCancelDriveModalAndUpdateClick)="hideCancelDriveModal(true)"
                        [driveId]="driveToCancel"></app-cancel-drive-modal>



<ng-template #startAddress>
  <address>
    {{ ride[driveType].startAddress }}<br>
    {{ ride[driveType].startCity }} {{ ride[driveType].startState }} {{ ride[driveType].startPostalCode }}
  </address>
</ng-template>

<ng-template #endAddress>
  <address>
    {{ ride[driveType].endAddress }}<br>
    {{ ride[driveType].endCity }} {{ ride[driveType].endState }} {{ ride[driveType].endPostalCode }}
  </address>
</ng-template>

<app-loader *ngIf="loading"></app-loader>
