@import '../styles/variables';

a {
  text-decoration: none;
  color: $pending-color;
}

address {
  font-style: normal;
  line-height: 22px;
}

h1 {
  font-size: 1rem;
  text-align: center;
}

.title {
  display: inline-block;
  margin-bottom: 10px;
}

.appointment-card {
  text-align: center;
}

.edit-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.edit-btn {
  float: right;
}

.ride-card {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 15px 20px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.modal-actions {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.modal-actions-cancel {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
}

.volunteer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.approved {
  color: $success-color;
}

agm-map {
  height: 400px;
}
