<!--********************************************************************
                          Ride Detail Modal
**********************************************************************-->
<div class="modal">
  <div class="modal-content">
    <h2>Drive Details</h2>
    <mat-card class="appointment-card">
      <span class="bolder">{{ ride.appointment.patientIdentifier }}'s {{ apptTypes[ride.appointment?.appointmentTypeId] }} Appointment</span> <br>
      <span class="bold">{{ ride.appointment?.appointmentDate | date:'shortTime'}}</span> <br>
    </mat-card>
    <mat-card *ngIf="isDriveTo; else isDriveFrom">
      drive to
    </mat-card>
    <ng-template #isDriveFrom>
      <mat-card>
        drive from
      </mat-card>
    </ng-template>
    <pre>{{ride | json}}</pre>
    <button type="button"
            mat-raised-button
            (click)="handleCloseModalClick()"
            color="accent">Close</button>
  </div>
</div>
