<!--********************************************************************
                          Ride Detail Modal
**********************************************************************-->
<div class="modal" *ngIf="ride && clinics && apptTypes">
  <div class="modal-content">
    <span class="close"
          (click)="handleCloseModalClick()">x</span>
    <h1>{{ ride.caller.callerIdentifier }}'s {{ apptTypes[ride.appointment?.appointmentTypeId].title }}</h1>
    <mat-tab-group mat-align-tabs="center" class="candy-tab-group">
      <mat-tab label="Details">
        <!--=========== Appt Card ============-->
        <mat-card class="appointment-card candy-card">
          <span class="bolder">{{ ride.appointment.appointmentDate | date:'MMM d, y, h:mm a'}}</span><br>
          <span class="bold">at {{ clinics[ride.appointment.clinicId].name }}</span><br>
        </mat-card>
        <!--=========== Caller Info ============-->
        <mat-expansion-panel expanded class="mt">
          <mat-expansion-panel-header>
            <mat-panel-title>Caller Information</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngIf="ride.caller.firstName">
              <mat-icon mat-list-icon>account_circle</mat-icon>
              <h4 mat-line>{{ ride.caller.firstName }} {{ ride.caller.lastName }}</h4>
            </mat-list-item>
            <mat-list-item *ngIf="ride.caller.phone">
              <mat-icon mat-list-icon>phone</mat-icon>
              <h4 mat-line>
                <a href="sms:+1{{ ride.caller.phone }}">
                  {{ ride.caller.phone | phone }}
                </a>
              </h4>
            </mat-list-item>
            <mat-list-item *ngIf="ride.caller.preferredLanguage !== 'English'">
              <mat-icon mat-list-icon>speaker_notes</mat-icon>
              <h4 mat-line>Preferred Language</h4>
              <p mat-line>{{ ride.caller.preferredLanguage }}</p>
            </mat-list-item>
            <mat-list-item *ngIf="ride.caller.minor">
              <mat-icon mat-list-icon>report</mat-icon>
              <h4 mat-line>Caller is a minor</h4>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <!--=========== Caller Notes ============-->
        <mat-expansion-panel expanded class="mt" *ngIf="ride.caller.note">
          <mat-expansion-panel-header>
            <mat-panel-title>Notes from Dispatcher</mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{ ride.caller.note }}</p>
        </mat-expansion-panel>
        <!--=========== Pick Up Info ============-->
        <mat-card class="mt candy-card">
          <mat-card-subtitle>
            Pick up caller {{ ride.caller.callerIdentifier }} by<span *ngIf="!isDriveTo"> <br>{{ getAppointmentEndTime(ride.appointment.appointmentDate, ride.appointment.appointmentTypeId) | date:'shortTime' }} at {{ clinics[ride.appointment.clinicId].name }}</span>:
          </mat-card-subtitle>
          <!-- TODO: Ask about map link -->
          <a [href]="startAddressGoogleMapLink" target="_blank">
            <address>
              {{ ride[driveType].startAddress }}<br>
              {{ ride[driveType].startCity }} {{ ride[driveType].startState }} {{ ride[driveType].startPostalCode }}
            </address>
          </a>
        </mat-card>
        <!--=========== Drop Off Info ============-->
        <mat-card class="mt candy-card">
          <mat-card-subtitle>
            Drop off at<span *ngIf="isDriveTo"> {{ clinics[ride.appointment.clinicId].name }} by {{ ride.appointment?.appointmentDate | date:'shortTime'}}</span>:
          </mat-card-subtitle>
          <a [href]="endAddressGoogleMapLink" target="_blank">
            <address>
              {{ ride[driveType].endAddress }}<br>
              {{ ride[driveType].endCity }} {{ ride[driveType].endState }} {{ ride[driveType].endPostalCode }}
            </address>
          </a>
        </mat-card>
        <!--=========== Volunteers ============-->
        <mat-card *ngIf="volunteers && !driveIsApproved && userRole === '1'" class="mt candy-card">
          <span class="bolder">Volunteers</span>
          <div *ngFor="let v of volunteers" class="volunteer-container">
            {{ v.firstName }} {{ v.lastName }}
            <button *ngIf="!driveIsApproved"
                    type="button"
                    mat-raised-button
                    (click)="handleApproveClick(v.id)"
                    color="primary">Approve</button>
          </div>
        </mat-card>
        <mat-card *ngIf="driveIsApproved && userRole === '1'" class="mt candy-card">
          <span class="bolder">Volunteers</span>
          <ng-container *ngFor="let v of volunteers">
            <div *ngIf="v.volunteerId === ride[driveType].driverId"
                 class="volunteer-container">
              {{ v.firstName }} {{ v.lastName }}
              <span class="approved"><mat-icon>done</mat-icon> Approved</span>
            </div>
          </ng-container>
        </mat-card>
      </mat-tab>
      <!--================ Map ===============-->
      <mat-tab label="Map View">
        <mat-card class="candy-card">
          <agm-map [latitude]="ride[driveType].startLatitude" [longitude]=" ride[driveType].startLongitude">
            <agm-marker [latitude]="ride[driveType].startLatitude"
                        [longitude]="ride[driveType].startLongitude"
                        iconUrl="assets/img/marker_{{ isDriveTo ? 'pickup' : 'clinic' }}.png">
              <agm-snazzy-info-window>
                <ng-template>
                  Start Address:
                  <a *ngIf="ride[driveType].startAddress; else vagueLocation"
                     [href]="startAddressGoogleMapLink"
                     target="_blank">
                    <address>{{ ride[driveType].startAddress }}</address>
                  </a>
                </ng-template>
              </agm-snazzy-info-window>
            </agm-marker>
            <agm-marker [latitude]="ride[driveType].endLatitude"
                        [longitude]="ride[driveType].endLongitude"
                        iconUrl="assets/img/marker_{{ isDriveTo ? 'clinic' : 'dropoff' }}.png">
              <agm-snazzy-info-window>
                <ng-template>
                  End Address:
                  <a *ngIf="ride[driveType].endAddress; else vagueLocation"
                     [href]="endAddressGoogleMapLink"
                     target="_blank">
                    <address>{{ ride[driveType].endAddress }}</address>
                  </a>
                </ng-template>
              </agm-snazzy-info-window>
            </agm-marker>
          </agm-map>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
    <!--=========== Modal Actions ============-->
    <div class="modal-actions">
      <button type="button"
              class="btn-cta"
              mat-raised-button
              [disabled]="ride[driveType].statusId === 3"
              (click)="handleApplyClick()"
              color="primary">Apply Now!</button>
    </div>
    <div class="modal-actions-cancel">
      <button type="button"
              mat-button
              (click)="handleCloseModalClick()"
              color="accent"
              class="mr">Go Back</button>
      <button type="button"
              *ngIf="ride[driveType].statusId !== 3"
              mat-button
              (click)="handleCancelDriveClick()"
              color="accent">Cancel This Drive</button>
    </div>
    <pre class="debug">{{ ride | json }}</pre>
  </div>
</div>
<!--********************************************************************
                          Drive Cancel Modal
**********************************************************************-->
<app-cancel-drive-modal *ngIf="showCancelDriveModal"
                        (closeCancelDriveModalClick)="hideCancelDriveModal()"
                        (closeCancelDriveModalAndUpdateClick)="hideCancelDriveModal(true)"
                        [driveId]="driveToCancel"></app-cancel-drive-modal>
