@import '../styles/variables';

main {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: normal;
}

.mb-70 {
  margin-bottom: 70px;
}

.logo-container {
  border-radius: 100%;
  background-color: $white;
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-dash {
  width: 215px;
  height: 55px;
  border-radius: 50px;
  background: #3546C7;
  box-shadow: none;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 18px;

  &.alt-color {
    background: #A60B84;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mr-10 {
  margin-right: 10px;
}

.new-btn-style {
  border-radius: 3px;
  box-shadow: none;
  padding: 4px 40px;
  margin-top: 24px;
}

.mat-card {
  max-width: 308px;
  padding: 0;

  .mat-card-content {
    margin: 20px;
    text-align: center;
    font-size: 16px;
  }
}
