@import '../../../styles/variables';

address {
  margin-top: 4px;
  font-style: normal;
}

.mat-expansion-panel-header {
  padding-top: 6px;
  padding-bottom: 6px;
}

.mat-expansion-panel-header-title {
  font-weight: bold;
}

.drives-container {
  display: flex;
  padding: 8px 0;

  .drive-to-clinic, .drive-from-clinic {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.drive-actions {
  margin-top: 12px;
  text-align: center;
}

.vertical-divider {
  border-left: 1px dotted #C3C0C0;
  margin: 0 15px;

  @media (max-width: 330px) {
    margin: 0 5px;
  }
}

.drive-btn {
  border: none;
  width: 120px;
  height: 35px;
  font-size: 11px;
  font-weight: bold;
}

/****************************************************************
                        Button Colors
****************************************************************/
.open {
  background-color: $error-color-faded;
}

.open .status-text {
  color: $error-color;
}

.pending {
  background-color: $pending-color-faded;
}

.pending .status-text {
  color: $pending-color;
}

.approved {
  background-color: $success-color;
}

.approved .status-text {
  color: $white;
}

.canceled-by-caller {
  background-color: #ccc;
}

.canceled-by-caller .status-text {
  color: #555;
}

.canceled-by-us {
  background-color: $poop-color-faded;
}

.canceled-by-us .status-text {
  color: $poop-color;
}

.rideshare {
  background-color: $rideshare-color-faded;
}

.rideshare .status-text {
  color: $rideshare-color;
}
