/*
 * CASN API
 *
 * This is a test CASN API
 *
 * OpenAPI spec version: 1.0.0
 * Contact: katie@clinicaccess.org
 * Generated by: https://openapi-generator.tech
 */

using System;
using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using Swashbuckle.AspNetCore.SwaggerGen;
using Newtonsoft.Json;
using System.ComponentModel.DataAnnotations;
using CASNApp.API.Attributes;
using CASNApp.API.Models;

namespace CASNApp.API.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class DefaultApiController : Controller
    { 
        /// <summary>
        /// gets list of clinics
        /// </summary>
        /// <response code="200">successful operation</response>
        [HttpGet]
        [Route("/d-m-wilson/CASN_App_OAS3/1.0.0/clinic")]
        [ValidateModelState]
        [SwaggerOperation("GetClinics")]
        [SwaggerResponse(statusCode: 200, type: typeof(List<Clinic>), description: "successful operation")]
        public virtual IActionResult GetClinics()
        { 
            //TODO: Uncomment the next line to return response 200 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(200, default(List<Clinic>));

            string exampleJson = null;
            exampleJson = "{\r\n  \"civiContactId\" : 42,\r\n  \"address\" : \"address\",\r\n  \"phone\" : \"phone\",\r\n  \"city\" : \"city\",\r\n  \"postalCode\" : \"postalCode\",\r\n  \"name\" : \"name\",\r\n  \"id\" : 42,\r\n  \"state\" : \"state\"\r\n}";
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<List<Clinic>>(exampleJson)
            : default(List<Clinic>);
            //TODO: Change the data returned
            return new ObjectResult(example);
        }
    }
}
