@import '../styles/variables';

h1 {
  font-size: 1.2rem;
}

p {
  margin: 5px;
}

.text-sm {
  font-size: 0.9rem;
}

.dates-rides-wrapper {
  display: flex;
}


.drive-buddy {
  background-color: $accent-color-2;
}

.drive-buddy .status-text {
  color: $primary-color-dark;
}

/********************************************************************
                Appointment/Drive Display Section
********************************************************************/
.my-drives-info {
  text-align: center;
  background: white;
  margin-bottom: 30px;
  padding: 20px;
}

.ride-container {
  width: 100%;
  overflow: auto;
}

.ride-container header {
  background: $background-color;
  opacity: 1;
  color: $body-color;
  box-sizing: border-box;
  padding: 0;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1;
}

.ride-container header + div {
  margin-top: 60px; /* Clear header */
}

.drive-container {
  margin-bottom: 10px;
  @media only screen and (min-device-width : 350px) {
    display: flex;
  }
}

.appointment-drive-wrapper {
  background: white;
  margin: 5px 5px 30px 5px;
  border-radius: 5px;
  padding-bottom: 5px;
}

.no-rides-card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;

  img {
    width: 100%;
    max-width: 500px;
  }
}
