<ng-container *ngIf="rides && serviceProviders && apptTypes"
              (swipeleft)="swipe($event.type)"
              (swiperight)="swipe($event.type)">
  <div class="dates-rides-wrapper">
    <section class="ride-container">
      <header>
        <app-rides-header title="My Drives"
                          (mapClick)="toggleMapModal()"
                          (calendarClick)="toggleDateFilters()"
                          [showFilters]="false"
                          [showDates]="showDateFilters"
                          [activeDate]="activeDate"
                          [datesToDisplay]="datesToDisplay"
                          (dateClick)="toggleActiveDate($event)"
                          (changeWeekClick)="handleChangeWeekClick($event)">
        </app-rides-header>
      </header>
      <!-- Spacer so body elements will clear the fixed header -->
      <div [style.marginTop.px]="showDateFilters ? 110 : 60"></div>

      <!--********************************************************************
                                  My Drive Stats
      **********************************************************************-->
      <div class="my-drives-info">
        <p>You have <strong>{{ ridesToDisplay.length }}</strong> drive{{ ridesToDisplay.length === 1 ? '' : 's' }} this week!</p>
        <p>Want to <a routerLink="/view-schedule">apply for a{{ ridesToDisplay.length > 0 ? 'nother' : '' }} drive</a>?</p>
      </div>

      <!--********************************************************************
                                No Rides Today Image
      **********************************************************************-->
      <div *ngIf="ridesToDisplay.length < 1" class="no-rides-card">
        <img src="assets/img/no_rides.png" alt="no rides today">
      </div>

      <!--********************************************************************
                                    Ride Cards
      **********************************************************************-->
      <ng-container *ngFor="let r of ridesToDisplay">
        <div *ngIf="(displayRides[r.driveTo?.statusId] || displayRides[r.driveFrom?.statusId]) && providerIsDisplayed(r.appointment.serviceProviderId)"
             class="appointment-drive-wrapper">
          <app-ride-card [ride]="r"
                         [appointmentType]="apptTypes[r.appointment?.appointmentTypeId].title"
                         [serviceProviderType]="serviceProviders[r.appointment.serviceProviderId].serviceProviderType"
                         [serviceProviderName]="serviceProviders[r.appointment?.serviceProviderId].name"
                         (showRideDetail)="toggleRideModal($event, r)">
          </app-ride-card>
        </div>
      </ng-container>

    </section>
  </div>
</ng-container>

<!--********************************************************************
                          Ride Detail Modal
**********************************************************************-->
<app-ride-detail-modal *ngIf="displayRideModal"
                       [ride]="rideModalContent"
                       [isDriveTo]="showRideModalDriveTo"
                       (closeRideModalClick)="toggleRideModal()"
                       (closeRideModalAndUpdateClick)="toggleRideModal();getRides()"></app-ride-detail-modal>

 <!--********************************************************************
                           Map Modal
 **********************************************************************-->
 <app-map *ngIf="displayMapModal"
          [rides]="rides"
          [startDate]="startDate"
          [endDate]="endDate"
          [activeDate]="activeDate"
          (seeDriveDetailsClick)="onMapDriveDetailsClick($event)"
          (closeMapModalClick)="toggleMapModal()"></app-map>

<app-loader *ngIf="loading"></app-loader>
