@import '../styles/variables';

h1 {
  font-size: 1.2rem;
}

p {
  margin: 5px;
}

.text-sm {
  font-size: 0.9rem;
}

.dates-rides-wrapper {
  display: flex;
}

.open {
  background-color: $error-color-faded;
  border: 2px solid $error-color;
}

.open .status-text {
  color: $error-color;
}

.pending {
  background-color: $pending-color-faded;
  border: 2px solid $pending-color;
}

.pending .status-text {
  color: $pending-color;
}

.approved {
  background-color: $success-color-faded;
  border: 2px solid $success-color;
}

.approved .status-text {
  color: $success-color;
}

.canceled-by-caller {
  background-color: #ccc;
  border: 2px solid #555;
}

.canceled-by-caller .status-text {
  color: #555;
}

.canceled-by-us {
  background-color: $poop-color-faded;
  border: 2px solid $poop-color;
}

.canceled-by-us .status-text {
  color: $poop-color;
}

/********************************************************************
                        Date Selection Sidebar
********************************************************************/
.date-sidebar {
  display: flex;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 30px;
  z-index: 1;
}

.date-card {
  background-color: $primary-color;
  color: white;
  border: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  width: 60px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.date-card.active {
  background-color: $accent-color-1;
  color: white;
}

.day {
  font-size: 1.5rem;
  font-weight: bold;
}

/********************************************************************
                Appointment/Drive Display Section
********************************************************************/
.my-drives-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-drives-info {
  text-align: center;
  background: white;
  margin-bottom: 30px;
  padding: 20px;
}

.ride-container {
  width: 100%;
  // Fallback for browsers that do not support custom properties
  height: calc(100vh - 75px); // header-55px, footer-20px
  height: calc(var(--vh, 1vh) * 100 - 75px);
  min-height: -webkit-fill-available;
  overflow: auto;
}

.ride-container header {
  display: flex;
  background: $primary-color;
  opacity: 0.8;
  color: white;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1;
  height: 55px;
}

.ride-container header + div {
  margin-top: 55px; /* Clear header */
}

.drive-container {
  margin-bottom: 10px;
  @media only screen and (min-device-width : 350px) {
    display: flex;
  }
}

.appointment-drive-wrapper {
  background: white;
  margin: 5px 5px 30px 5px;
  border-radius: 5px;
  padding-bottom: 5px;
}

.no-rides-card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;

  img {
    width: 100%;
    max-width: 500px;
  }
}

.appointment-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $transparent;
  border-radius: 25px;
}

.date-badge {
  font-weight: bold;
  font-size: 0.75rem;
  border: 2px solid #555;
  border-top: 5px solid #555;
  box-sizing: border-box;
  padding: 3px 4px;
  margin-right: 10px;
}

.drive-card {
  display: flex;
  border-radius: 35px;
  margin: 5px;
  @media only screen and (min-device-width : 350px) {
    width: 100%;
    flex-direction: column;
  }
}

.drive-card-header {
  display: flex;
  align-items: center;
  min-width: 40%;
}

.drive-card-content {
  display: flex;
  align-items: center;
}

.no-drive {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  border: 1px solid #999;
}

/********************************************************************
                      Footer - Settings/Controls
********************************************************************/
.fixed-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
  background-color: $primary-color;
  // opacity: 0.8;
  color: white;
  padding: 5px;
  height: 20px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
