@page
@model RegisterModel
@{
    ViewData["Title"] = "Registration Disabled";
}

<h1>@ViewData["Title"]</h1>

<a asp-area="Identity" asp-page="/Account/Login">Login</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
